extends layout

block content
    h1= title
    if(toShow==null)
        h2 No instance of this detail 
    else
        - let organisationid = toShow._id
        - let course = toShow.course
        - let faculty = toShow.faculty
        - let section  = toShow.section
        div
            div.row
                div(class='organisationAttr mr-3') organisation ID is:
                    div #{organisationid}
            div.row
                div(class='organisationAttr mr-3') Course is:
                    div #{course}
            div.row
                div(class='organisationAttr mr-3') Faculty is:
                    div #{faculty}
            div.row
                div(class='organisationAttr mr-3') Section is:
                    div #{section}