extends layout

block content
    div(class="container-fluid")
    h1= title
    - let results=[{course:"Web apps",faculty:"Chandra Mouli",section:6},{course:"Java",faculty:"Ajay Bandi",section:5},{course:"ADB",faculty:"Qin ",section:4}]
    div(class="row")
        each form,item in results
            div(class="col-sm-2" onclick=`buy(${item})`) #{form.course}
            div(class="col-sm-2" onclick=`buy(${item})`) #{form.faculty}
            div(class="col-sm-2" onclick=`buy(${item})`) #{form.section}
            

    br
    hr
    h4= 'Buy'

    div(class="container-fluid")
      each organisation,index in results
        div(class="row", onclick=`buy(${index})`)
          div(class="col-sm-2") <br>Course #{index}: #{organisation.course} <br>Faculty:#{organisation.faculty} <br> Section:#{organisation.section}

    script.
        function buy(itemNo)
        {
            alert(`You purchased Item ${itemNo+1}`)
        }