extends layout

block content
    div(class="container-fluid")
    h1= title
    - let result = results
    div(class="row")
        each form,item in result
            div(class="col-sm-2" onclick=`buy(${item})`) #{form.organisationcourse}
            div(class="col-sm-2" onclick=`buy(${item})`) #{form.organisationfaculty}
            div(class="col-sm-2" onclick=`buy(${item})`) #{form.organisationsection}
            

    br
    hr
    h4= 'Buy'

    div(class="container-fluid")
      each organisation,index in result
        div(class="row", onclick=`buy(${index})`)
          div(class="col-sm-2") <br>Course #{index}: #{organisation.organisationcourse} <br>Faculty:#{organisation.organisationfaculty} <br> Section:#{organisation.organisationsection}

    script.
        function buy(itemNo)
        {
            alert(`You purchased Item ${itemNo+1}`)
        }