
extends layout
block content
h1= title
- let organisationid = toShow._id
- let organisation_course = toShow.organisation_course
- let organisationfaculty = toShow.faculty
- let organisationsize = toShsectionize
div
div.row
div(class='organisationAttr mr-3') organisation ID is:
div #{organisationid}
div.row
div(class='organisationAttr mr-3') Course :
div #{organisation_course}
div.row
div(class='organisationAttr mr-3') Faculty :
div #{organisationfaculty}
div.row
div(class='organisationAttr mr-3') Section :
div #{organisationsection}